# ========== Maven / Gradle ==========
/target/
/build/
/!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# ========== IntelliJ IDEA ==========
.idea/
*.iml

# ========== Eclipse ==========
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

# ========== NetBeans ==========
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# ========== VS Code ==========
.vscode/

# ========== OS-specific ==========
# macOS
.DS_Store
# Windows
Thumbs.db

# ========== Logs / Temp ==========
*.log
*.tmp
